.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 300px;
  height: 150px;
}

.show-modal-button {
  margin: 10px;
}

.columns {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.cl {
  flex: 1;
  padding: 5px;
}

.cl-1 {
  background-color: aquamarine;
}

.cl-2 {
  background-color: gold;
}

.cl-3 {
  background-color: tomato;
}

.dp-n {
  display: none;
}